# Runs pytest on the matrix of supported platforms any Python versions.
name: Test
on:
  pull_request:

jobs:
  test:
    name: ${{ matrix.os }} ${{ matrix.python }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['windows-2022', 'ubuntu-22.04', 'macos-13']
        python: ['3.10', '3.11']
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}
      - run: |
          python -m pip install -r tests/requirements.txt
          python -m pip install .
          python -m pytest -v ./tests
